*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 22px;
    grid-template-areas:    "card1 card1  card2 card3 "
                            "card1 card1  card2 card3 "
                            "card4 card5  card5 card3 "
                            "card4 card5  card5 card3 "
                            
        ;

    margin: 120px 100px;
}



.box{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.box .header{
    display: flex;
    padding: 3px 18px;
}

.box .header img{
     width: 60px;
     height: 60px;
     border-radius: 50%;
     border: 1px solid #fff;
     margin: 14px;
}

.img-border{
    border: 1px solid  hsl(263, 55%, 52%);
}

.box .header .names{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.names h3{
    font-weight: 600;
    font-size: 1.2rem;
}
.names h5{
    color: hsl(0, 0%, 81%);
    opacity: 50%;
}
.img-quote ::after{
    content: "";
    background-image: url("../images/bg-pattern-quotation.svg");
    background-size: cover;
    opacity: 40%;
    position: absolute;
    height: 120px;
    width: 120px;
    top: 16%;
    left:32%;
}

.box .hero-title{
    color: #fff;
    margin: 0  12px;
    padding: 0 18px;
    text-align: justify;
    font-size: 1.3rem;
    z-index: 2;
}

 .box .sub-hero-text{
     color: #fff;
     padding: 16px;
     margin:  0 8px;
     text-align: justify;
    font-size: 0.8rem;
    word-spacing: 2px;
    opacity: 50%;
 }

 .black-font{
     color: #000;
 }

.box-testemonial1{
    background-color: hsl(263, 55%, 52%);
    grid-area: card1;
    border: 1px solid  hsl(0, 0%, 81%);
}

.box-testemonial2{
    background-color: hsl(217, 19%, 35%);
    grid-area: card2;
}

.font-16{
    font-size: 0.9rem;
}
.box-testemonial3{
    background-color: #fff;
    color: #000;
    grid-area: card3;
    border: 2px solid  hsl(0, 0%, 81%);
    -webkit-box-shadow: 7px 7px 5px -4px rgba(207,207,207,1);
-moz-box-shadow: 7px 7px 5px -4px rgba(207,207,207,1);
box-shadow: 7px 7px 5px -4px rgba(207,207,207,1);
}

.box-testemonial4{
    background-color: #fff;
    grid-area: card4;
    border: 2px solid  hsl(0, 0%, 81%);
    -webkit-box-shadow: 7px 7px 5px -4px rgba(207,207,207,1);
-moz-box-shadow: 7px 7px 5px -4px rgba(207,207,207,1);
box-shadow: 7px 7px 5px -4px rgba(207,207,207,1);
}

.box-testemonial5{
    background-color: hsl(219, 29%, 14%);
    grid-area: card5;
}
